<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Book List</title>
</head>
<body>
<!--    <span class="validationError"-->
<!--          th:if="${#fields.hasErrors('booklist')}"-->
<!--          th:errors="*{booklist}"-->
<!--    >Error</span>-->
    <div class="grid">
        <div class="booklist-group" id="books">
            <h2>Book List</h2>
            <p>Here is your book list.</p>
            <table>
                <tr>
                    <th>id</th>
                    <th>Title</th>
                    <th>Subtitle</th>
                    <th>IBSN</th>
                </tr>
                <tr th:each="book : ${books}">
                    <td th:text="${book.id}">id</td>
                    <td th:text="${book.title}">title</td>
                    <td th:text="${book.subtitle}">subtitle</td>
                    <td th:text="${book.isbn13}">isbn</td>
                </tr>
            </table>
        </div>
    </div>
    <a th:href="@{/}" id="home">Top</a>
</body>
</html>